<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="UTF-8" />
		<meta name="description" content={{ description }} />
		<meta property="og:type" content="article" />
		<meta property="og:title" content={{ title }} />
		<meta name="viewport" content="width=device-width" />
        <meta name="generator" content="{{ eleventy.generator }}" />
		<title>
            {% block title %}
                {{ title }}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="/assets/bulma.min.css">
        <link rel="manifest" href="manifest.json">
    </head>
    <body>
        <main>
            {% block div %}
                {{ content | safe }}
            {% endblock %}
        </main>
        {% include "./components/footer.njk" %}
    </body>
</html>