<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="UTF-8" />
		<meta name="description" content="ボタンを押すと顔をなくせるかもしれない" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="顔をなくすボタン" />
		<meta name="viewport" content="width=device-width" />
        <meta name="generator" content="{{ eleventy.generator }}" />
		<title>顔をなくすボタン</title>
        <link rel="stylesheet" href="/assets/bulma.min.css">
        <link rel="icon" href="/assets/1f6ce.svg" sizes="any" type="image/svg+xml">
        <link rel="manifest" href="manifest.json">
    </head>
    <body>
        <main class="hero is-fullheight">
            {% include "./components/herohead.njk" %}
            {% block div %}
                {{ content | safe }}
            {% endblock %}
            {% include "./components/herofoot.njk" %}
        </main>
        {% include "./components/footer.njk" %}
    </body>
</html>