<footer class="footer">
    <div class="columns container">
        <a class="column has-text-centered" href="/">
            Noface button
        </a>
        <a class="column has-text-centered" href="/others">
            Other noface buttons
        </a>
    </div>
    <hr>
    <p>顔を無くすボタン by <a href="https://www.osumiakari.jp">Osumi Akari</a>（<a href="https://c.osumiakari.jp/@oageo">@oageo@c.osumiakari.jp</a>）。</p>
    <p><a href="https://github.com/oageo/noface">ソースコードはGitHub</a>上に置いてあります。MITライセンスです。</p>
    <p>音源: <a href="https://otologic.jp">OtoLogic</a>様。CC BY 4.0。</p>
    <p>PWAロゴ: <a href="https://github.com/discord/twemoji">Jason Sofonia & Justine De Caires</a>様。CC BY 4.0</p>
</footer>
