<footer class="footer">
    <p>顔を無くすボタン by <a href="https://www.osumiakari.jp">Osumi Akari</a></p>
    <p><a href="https://github.com/oageo/noface">ソースコードはGitHub</a>上に置いてあります。</p>
    <p>音源: <a href="https://otologic.jp">OtoLogic</a>様。CC BY 4.0。</p>
</footer>
