<div class="hero-foot container my-2">
    <nav class="tabs">
        <ul class="subtitle is-underlined" style="flex-grow:1;justify-content: center;">
            <li>
                <a id="websharebutton">
                    共有（ウェブ共有 API）
                </a>
            </li>
            <li id ="copy">
                <a id="copybutton">
                    結果をコピー
                </a>
            </li>
            <li id="resetbutton">
                リセット
            </li>
        </ul>
    </nav>
</div>

<script>
let shareData = {
    title: "顔をなくすボタン",
    text: "顔を" + nofacecount + "回なくしました。",
    url: "https://noface.osumiakari.jp",
};

const shareButton = document.getElementById("websharebutton");
shareButton.addEventListener("click", () => {
    shareData.text = "顔を" + nofacecount + "回なくしました。";
    navigator.share(shareData);
});

const copyButton = document.getElementById("copybutton");
copyButton.addEventListener("click", () =>{
    copyButton.text = "顔を" + nofacecount + "回なくしました。" + "\n" + shareData.url;
    navigator.clipboard.writeText(copyButton.text);
})

const resetButton = document.getElementById("resetbutton");
resetButton.addEventListener("click", () => {
    nofacecount = 0;
    document.getElementById("displaycount").textContent = nofacecount;
});
</script>
