---
import Layout from '../layouts/Layout.astro';
import Nofacebutton from '../components/Nofacebutton.astro';
---

<Layout title="顔をなくすボタン" description='ボタンを押すと顔をなくせるかもしれない'>
	<main class="hero is-fullheight">
		<div class="hero-body">
			<div class="container has-text-centered">
				<Nofacebutton client:load></Nofacebutton>
			</div>
		</div>
	</main>
</Layout>

<style>
	
</style>
